html {
  overflow-x: hidden;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  background-color: #fafafa;
  color: #212121;
  cursor: default;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

.content {
  margin: 0 auto;
  width: 624px;
}
