body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  color: #212121;
  cursor: default;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}
