body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  color: #212121;
  cursor: default;
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif;
  grid-template-columns: 280px auto;
  margin: 0;
  min-height: 100dvh;
  overflow: hidden;
  touch-action: pan-x pan-y;
  -webkit-user-select: none;
  user-select: none;
}

.sidebar {
  border-right: 1px solid #e0e0e0;
  display: grid;
  grid-template-rows: 48px auto;
}

.sidebar-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
}

.search {
  padding: 8px;
  position: relative;
  width: 100%;
}

.search-icon {
  background-image: url('../images/magnifying-glass.svg');
  background-origin: content-box;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 31px;
  padding: 8px;
  pointer-events: none;
  position: absolute;
  width: 31px;
}

.search-input {
  appearance: none;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  color: inherit;
  font: inherit;
  font-size: 14px;
  height: 31px;
  outline: 0;
  padding: 1px 27px 1px 28px;
  width: 100%;
}

.search-input:focus {
  border-color: #42a5f5;
  box-shadow: 0 0 1px #42a5f5;
}

.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-decoration {
  display: none;
}

.search-input::placeholder {
  color: #9e9e9e;
  opacity: 1;
}

.search-clear {
  appearance: none;
  background: none;
  background-image: url('../images/xmark.svg');
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 8px;
  height: 31px;
  padding: 8px;
  position: absolute;
  right: 8px;
  width: 28px;
}

.search-clear:active {
  opacity: .6;
}

.search-input:placeholder-shown + .search-clear {
  display: none;
}

.main {
  display: grid;
  grid-template-rows: 48px auto;
  pointer-events: none;
}

.main-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
}

.button-group {
  padding: 8px;
}

.button {
  background-color: #f5f5f5;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,.075);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.sidebar-toggle-button {
  appearance: none;
  background-image: url('../images/angle-left.svg');
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  height: 31px;
  margin: 0;
  padding: 6px;
  pointer-events: auto;
  width: 31px;
}

.sidebar-toggle-button:active {
  background-color: #e0e0e0;
}

.sidebar-toggle-button:checked {
  background-image: url('../images/angle-right.svg');
}

.node {
  position: absolute;
}
